<label>display-assignment component!</label>
<p>
  <button
    *ngIf="displayBtn; else hideBtn"
    (click)="onDisplayClick()"
    class="btn btn-primary"
  >
    Display Details
  </button>
</p>

<ng-template #hideBtn>
  <button (click)="onHideClick()" class="btn btn-warning">Hide details</button>
</ng-template>

<p *ngIf="dispayDetails">{{ details }}</p>

<p
  *ngFor="let singleClicks of btnClicks; let i = index"
  [ngClass]="{
    changeBackgroundColor: i >= 5,
    whiteTextColor: i >= 5
  }"
>
  {{ singleClicks }}
</p>
